root: C:\Users\<username>\Music\iTunes\iTunes Music\Podcasts\
podcast: This American Life
mp3splt: mp3splt.exe
outputdir: C:\PodcastSplitterOutput
mp3splt_split_options: -q -f -t 4.0
mp3splt_output_options: "@a_@b_@t_@N"